* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

    max-width: 100%;
    overflow-x: clip;
}

body {
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}

.hide {
    visibility: hidden;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.close-button {
    width: 20px;
    height: 20px;
    background-color: #777;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

body {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

.wrapper {
    justify-content: center;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

.section {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    color: #fff;
    font-size: 5em;
    text-shadow: 0px 2px 0px #b2a98f, 0px 4px 3px rgba(0, 0, 0, 0.15),
        0px 8px 1px rgba(0, 0, 0, 0.1);
}

.bg-home {
    background-image: linear-gradient(#202124, #262626);
}

.bg-second-screen {
    background-image: linear-gradient(#262626, #41434a);
}

.bg-third-screen {
    background-image: linear-gradient(#41434a, #686c78);
}

.bg-fourth-screen {
    background-image: linear-gradient(#686c78, #8d93a6);
}

.bg-fifth-screen {
    background-image: linear-gradient(#8d93a6, #b4bcd4);
}

.bg-sixth-screen {
    background-image: linear-gradient(#b4bcd4, #c0c9e4);
}

.interests-gif {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    cursor: grab;
}

.main-text-section {
    font-size: 5vw;
    margin: 50px;
    /* line-height: 1.75em; */
}

.text-second-screen {
    margin-bottom: 100px;
}

.products {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.products-title {
    height: 10%;
    font-size: 5.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktopProductsContent {
    height: 90%;
}

.mobileProductsContent {
    height: 90%;
}

.products-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    justify-content: flex-start;
    height: 50%;
    align-content: center;
}

.rowProductsMobile {
    justify-content: center;
    height: 20%;
    width: 100%;
    align-content: center;
}

.col-md-4 {
    flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

.col-md-3 {
    flex: 0 0 33.33%;
    -webkit-flex: 0 0 33.33%;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

.cell {
    height: 100%;
    width: 50%;
}

.img-product {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hover-rotate {
    overflow: hidden;
    width: 100%;
}

.hover-rotate img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
}

.hover-rotate:hover img {
    transform: scale(1.3) rotate(5deg);
}

.img-product-kindle {
    background: url(../images/kindle.png) center / cover;
}

.img-product-candy {
    background: url(../images/candycrush.jpeg) center / cover;
}

.img-product-spotify {
    background: url(../images/spotify_2.jpeg) center / cover;
}

.img-product-ea {
    background: url(../images/electronicArts.jpg) center / cover;
}

.img-product-simfor {
    background: url(../images/simforSim.jpg) center / cover;
}

.image-caption {
    cursor: crosshair;
    top: -105%;
    width: 100%;
    height: 110%;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    opacity: 0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.image-caption h5 {
    padding: 45px 0px 5px 0px;
    text-align: center;
    margin-left: -15px;
    text-transform: uppercase;
    font-size: 25px;
    color: #00bfb6;
}

.image-caption p {
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    color: #fff;
}

.image-caption:hover {
    opacity: 1;
}

.main-pings {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 4vw;
}

.link-products {
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
}

.end-component {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.end-component-title {
    height: 20%;
}

.end-component-bell {
    display: flex;
    height: 30%;
    justify-content: space-evenly;
}

.end-component-center {
    height: 50%;
}

.home-image {
    clip-path: circle(100px at center);
    animation-iteration-count: 1;
    animation-name: home-image-animation;
    animation-duration: 1s;
    transform-origin: 70% 70%;
    display: inline-block;
    cursor: grab;
    margin-top: 50px;
}

@keyframes home-image-animation {
    0% {
        clip-path: circle(18px at center);
    }
    100% {
        clip-path: circle(100px at center);
    }
}

.wave {
    cursor: grab;
    animation-iteration-count: 1;
    animation-name: wave-animation;
    animation-duration: 2.75s;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}

.divResume {
    padding: 40px;
}

.imgResume {
    max-width: 150px;
    margin: 30px;
}

@media all and (min-width: 769px) {
    .desktopProductsContent {
        display: block;
    }
    .mobileProductsContent {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .desktopProductsContent {
        display: none;
    }
    .mobileProductsContent {
        display: block;
    }

    .image-caption {
        top: -110%;
        height: 108%;
    }

    .image-caption h5 {
        padding: 25px 0px 2px 0px;
        margin-left: 0;
        text-transform: uppercase;
        font-size: 2rem;
    }

    .image-caption p {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 632px) {
    .section {
        font-size: 3em;
        line-height: 1.75em;
    }

    .main-text-section {
        font-size: 7vw;
        line-height: 1.75em;
    }

    .col-md-3 {
        font-size: 20px;
    }

    .col-md-4 {
        font-size: 20px;
    }

    .end-component {
        gap: 40px;
    }

    .main-pings {
        font-size: 6vw;
        line-height: 2rem;
    }

    .image-caption {
        top: -130%;
        height: 108%;
    }

    .image-caption h5 {
        padding: 0;
        margin-left: 0;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .image-caption p {
        font-size: 1rem;
    }
}

/* @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .section {
        font-size: 3em;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .section {
        font-size: 3em;
    }
}

/* iPads (portrait and landscape) ----------- */
/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .section {
        font-size: 3em;
    }
}
*/
