* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

  max-width: 100%;
  overflow-x: clip;
}

body {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

.wrapper {
    justify-content: center; 
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

.section {
  text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    color: #fff;
    /*color: #ffee10;*/
    font-size: 5em;
    text-shadow:
      0px 2px 0px #b2a98f,
      0px 4px 3px rgba(0,0,0,0.15),
      0px 8px 1px rgba(0,0,0,0.1);
  }
  
  .bg-home {
    background-image: linear-gradient(#202124, #262626);
  }
  
  .bg-second-screen {
    background-image: linear-gradient(#262626, #41434a);
  }

  .bg-third-screen {
    background-image: linear-gradient(#41434a, #686c78);
  }
  
  .bg-fourth-screen {
    background-image: linear-gradient(#686c78, #8d93a6);
  }

  .bg-fifth-screen {
    background-image: linear-gradient(#8d93a6, #b4bcd4);
  }

  .bg-sixth-screen {
    background-image: linear-gradient(#b4bcd4, #c0c9e4);
  }

  .interests-gif {
    text-decoration: dotted underline;
    cursor: grab;
  }

  .main-text-section {
    font-size: 5vw;
    margin: 50px;
  }

  .text-second-screen {
    margin-bottom: 100px;
  }

  .home-image {
    clip-path: circle(100px at center);
    animation-iteration-count: 1;
    animation-name: home-image-animation;
    animation-duration: 1s;
    transform-origin: 70% 70%;
    display: inline-block;
    cursor: grab;
    margin-top: 50px;
  }

  .products {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .products-title {
    height: 15%;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .products-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
  }

  .row {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -webkit-flex-direction: row;
      justify-content: flex-start;
      height: 50%;
      align-content: center;
  }

  .col-md-4 {
      flex: 0 0 50%;
      -webkit-flex: 0 0 50%;
      text-align: center;
      vertical-align: middle;
      font-size: 40px;
  }

  .cell {
    height: 100%;
    width: 50%;
  }

  .img-product {
    width: 100%;
    height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .hover-rotate {
    overflow: hidden;
    width: 100%;
  }
  
  .hover-rotate img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
  }
  
  .hover-rotate:hover img {
    transform: scale(1.3) rotate(5deg);
  }

  .img-product-kindle {
    background: url(../images/kindle.png) center / cover;
  }

  .img-product-candy {
    background: url(../images/candycrush.jpeg) center / cover;
  }

  .img-product-ea {
    background: url(../images/electronicArts.jpg) center / cover;
  }

  .img-product-simfor {
    background: url(../images/simforSim.jpg) center / cover;
  }

  .main-pings {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 5vw
  }

  .end-component {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .end-component-title {
    height: 20%;
  }

  .end-component-bell {
    display: flex;
    height: 30%;
    justify-content: space-evenly;
  }

  .end-component-center {
    height: 50%
  }

  /* Let's style the wrapper in such away that, 
  it should always be at the center of the browser */
  .wrapper-social-networker {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 20px;
  }

  /* Style the Un-order list by setting its list-style to none */
  .wrapper-social-networker ul {
    list-style: none;
  }

  /* Style the list items inside the UL list, by setting its width, height and line-height 
    and float them to left and set its border and border-radius.
  */
  .wrapper-social-networker ul li {
    width: 95px;
    height: 195x;
    line-height: 85px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li .fa {
    color: #D8E2DC;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover.linkedin {
    border: 5px solid #2867B2;
    box-shadow: 0 0 15px #2867B2;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover .fa-linkedin {
    color: #3b5998;
    text-shadow: 0 0 15px #2867B2;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover.github {
    border: 5px solid #333;
    box-shadow: 0 0 15px #333;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover .fa-github {
    color: #333;
    text-shadow: 0 0 15px #333;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover.envelope {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover .fa-envelope {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover.rss {
    border: 5px solid #f26522;
    box-shadow: 0 0 15px #f26522;
    transition: all 0.5s ease;
  }

  .wrapper-social-networker ul li:hover .fa-rss {
    color: #f26522;
    text-shadow: 0 0 15px #f26522;
    transition: all 0.5s ease;
  }

  @media screen and (max-width: 640px){
    .wrapper-social-networker {
        width: 350px;
    }
    .wrapper-social-networker ul li{
        margin-top: 10px;
    }
    .wrapper-social-networker ul li.envelope{
        margin-left: 60px;
    }
  }

  @media screen and (max-width: 340px){
    .wrapper-social-networker {
        width: 150px;
    }
    .wrapper-social-networker ul li{
        margin:15px;
    }
    .wrapper-social-networker ul li.envelope{
        margin-left: 15px;
    }
  }

  .youtube {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 160px;
    text-align: center;
    padding: 15px 10px;
    background: #bb0000;
    border-radius: 5px;
  }

  .youtube a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
  }

  .bell {
    cursor: pointer;
    all: unset;
    width: 15%;
    margin:0 auto;
    display:block;
  }

  .bell-animation {
    -webkit-animation: ring 5s ease-in-out forwards;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 5s ease-in-out forwards;
    -moz-transform-origin: 50% 4px;
    animation: ring 5s ease-in-out forwards;
    transform-origin: 50% 4px;
  }

  .bell:hover {
    cursor: pointer;
  }

  @keyframes home-image-animation {
      0% { clip-path: circle(18px at center) }
    100% { clip-path: circle(100px at center) }
  }

  .wave {
    cursor: grab;
    animation-iteration-count: 1;
    animation-name: wave-animation;
    animation-duration: 2.75s;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


@-webkit-keyframes ring {
	0% { -webkit-transform: rotateZ(0); }
	1% { -webkit-transform: rotateZ(30deg); }
	3% { -webkit-transform: rotateZ(-28deg); }
	5% { -webkit-transform: rotateZ(34deg); }
	7% { -webkit-transform: rotateZ(-32deg); }
	9% { -webkit-transform: rotateZ(30deg); }
	11% { -webkit-transform: rotateZ(-28deg); }
	13% { -webkit-transform: rotateZ(26deg); }
	15% { -webkit-transform: rotateZ(-24deg); }
	17% { -webkit-transform: rotateZ(22deg); }
	19% { -webkit-transform: rotateZ(-20deg); }
	21% { -webkit-transform: rotateZ(18deg); }
	23% { -webkit-transform: rotateZ(-16deg); }
	25% { -webkit-transform: rotateZ(14deg); }
	27% { -webkit-transform: rotateZ(-12deg); }
	29% { -webkit-transform: rotateZ(10deg); }
	31% { -webkit-transform: rotateZ(-8deg); }
	33% { -webkit-transform: rotateZ(6deg); }
	35% { -webkit-transform: rotateZ(-4deg); }
	37% { -webkit-transform: rotateZ(2deg); }
	39% { -webkit-transform: rotateZ(-1deg); }
	41% { -webkit-transform: rotateZ(1deg); }

	43% { -webkit-transform: rotateZ(0); }
	100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
	0% { -moz-transform: rotate(0); }
	1% { -moz-transform: rotate(30deg); }
	3% { -moz-transform: rotate(-28deg); }
	5% { -moz-transform: rotate(34deg); }
	7% { -moz-transform: rotate(-32deg); }
	9% { -moz-transform: rotate(30deg); }
	11% { -moz-transform: rotate(-28deg); }
	13% { -moz-transform: rotate(26deg); }
	15% { -moz-transform: rotate(-24deg); }
	17% { -moz-transform: rotate(22deg); }
	19% { -moz-transform: rotate(-20deg); }
	21% { -moz-transform: rotate(18deg); }
	23% { -moz-transform: rotate(-16deg); }
	25% { -moz-transform: rotate(14deg); }
	27% { -moz-transform: rotate(-12deg); }
	29% { -moz-transform: rotate(10deg); }
	31% { -moz-transform: rotate(-8deg); }
	33% { -moz-transform: rotate(6deg); }
	35% { -moz-transform: rotate(-4deg); }
	37% { -moz-transform: rotate(2deg); }
	39% { -moz-transform: rotate(-1deg); }
	41% { -moz-transform: rotate(1deg); }

	43% { -moz-transform: rotate(0); }
	100% { -moz-transform: rotate(0); }
}

@keyframes ring {
	0% { transform: rotate(0); }
	1% { transform: rotate(30deg); }
	3% { transform: rotate(-28deg); }
	5% { transform: rotate(34deg); }
	7% { transform: rotate(-32deg); }
	9% { transform: rotate(30deg); }
	11% { transform: rotate(-28deg); }
	13% { transform: rotate(26deg); }
	15% { transform: rotate(-24deg); }
	17% { transform: rotate(22deg); }
	19% { transform: rotate(-20deg); }
	21% { transform: rotate(18deg); }
	23% { transform: rotate(-16deg); }
	25% { transform: rotate(14deg); }
	27% { transform: rotate(-12deg); }
	29% { transform: rotate(10deg); }
	31% { transform: rotate(-8deg); }
	33% { transform: rotate(6deg); }
	35% { transform: rotate(-4deg); }
	37% { transform: rotate(2deg); }
	39% { transform: rotate(-1deg); }
	41% { transform: rotate(1deg); }

	43% { transform: rotate(0); }
	100% { transform: rotate(0); }
}

.sectionTimeline {
  display: block;
  text-align: start;
  text-shadow: none;
}

.mainTimeline {
  display: flex;
  flex-direction: column;
}

.timelineTitle {
  text-align: center;
}

.timelineDownload {
  widows: 100%;
}

.divTimeline {
  height: 10vh;
}

.divResume {
  padding: 40px;
}

.imgResume {
  max-width: 150px;
  margin: 30px;
}

.pulse-button {
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(198, 212, 90, 0.33);
  -webkit-animation: pulse 2.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
